<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eventMapper">
	<resultMap type="Event" id="eventResultSet">
		<id property="eNo" column="ENO"/>
		<result property="eTitle" column="ETITLE"/>
		<result property="eContent" column="ECONTENT"/>
		<result property="eWriter" column="EWRITER"/>
		<result property="ePoint" column="E_POINT"/>
		<result property="eCount" column="ECOUNT"/>
		<result property="eCreateDate" column="E_CREATE_DATE"/>
		<result property="eModifyDate" column="E_MODIFY_DATE"/>
		<result property="eStatus" column="E_STATUS"/>
		<result property="eStartDate" column="E_START_DATE"/>
		<result property="eEndDate" column="E_END_DATE"/>
		<result property="eLevel" column="E_LEVEL"/>
		<result property="rAvailable" column="R_AVAILABLE"/>
		<result property="mNo" column="MNO"/>
	</resultMap>
	
	<resultMap type="Attachment" id="attachmentResultSet">
		<id property="aNo" column="ANO"/>
		<result property="originalFileName" column="ORIGINAL_NAME"/>
		<result property="changeFileName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="uploadDate" column="UPLOAD_DATE"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
		<result property="aStatus" column="A_STATUS"/>
		<result property="aType" column="A_TYPE"/>
		<result property="refId" column="REF_ID"/>
	</resultMap>
	
	<resultMap type="PointHistory" id="historyResultSet">
		<id property="eNo" column="ENO"/>
		<result property="mNo" column="MNO"/>
		<result property="point" column="POINT"/>
		<result property="pDate" column="P_DATE"/>
	</resultMap>
	
	<resultMap id="replyResultSet" type="Reply">
		<id property="rId" column="RID"/>
		<result property="rContent" column="RCONTENT"/>
		<result property="refBid" column="REF_BID"/>
		<result property="rWriter" column="RWRITER"/>
		<result property="rCreateDate" column="R_CREATE_DATE"/>
		<result property="rModifyDate" column="R_MODIFY_DATE"/>
		<result property="rStatus" column="R_STATUS"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM EVENT
		WHERE E_STATUS='Y'
	</select>
	
	<select id="selectList" resultMap="eventResultSet">
		SELECT *
		FROM EVENT
		WHERE E_STATUS='Y'
		ORDER BY ENO DESC
	</select>
	
	<insert id="insertEvent" parameterType="Event">
		INSERT INTO EVENT VALUES(
			E_SEQ.NEXTVAL, #{eTitle}, #{eContent}, #{eWriter}, #{ePoint},
			0, SYSDATE, SYSDATE, DEFAULT, #{eStartDate}, #{eEndDate},
			DEFAULT, 'Y', 1
		)
	</insert>
	
	<insert id="insertImg" parameterType="Attachment">
		INSERT INTO ATTACHMENT VALUES(
			A_SEQ.NEXTVAL, #{originalFileName}, #{changeFileName}, #{filePath}, SYSDATE,
			1, 'Y', 1, E_SEQ.CURRVAL
		)
	</insert>
	
	<update id="updateCount" parameterType="_int">
		UPDATE EVENT
		SET ECOUNT = ECOUNT + 1
		WHERE ENO=#{eNo}
	</update>
	
	<select id="selectOne" parameterType="_int" resultMap="eventResultSet">
		SELECT *
		FROM EVENT
		WHERE ENO=#{eNo}
		AND E_STATUS='Y'
	</select>
	
	<select id="selectImg" parameterType="_int" resultMap="attachmentResultSet">
		SELECT *
		FROM ATTACHMENT
		WHERE REF_ID=#{eNo}
		AND A_STATUS='Y'
	</select>
	
	<update id="updateEvent" parameterType="Event">
		UPDATE EVENT
		SET ETITLE=#{eTitle}, ECONTENT=#{eContent}, E_START_DATE=#{eStartDate}, E_END_DATE=#{eEndDate},
			E_POINT=#{ePoint}, R_AVAILABLE=#{rAvailable}, E_MODIFY_DATE=SYSDATE
		WHERE ENO=#{eNo}
	</update>

	<update id="updateImg" parameterType="Attachment">
		UPDATE ATTACHMENT
		SET ORIGINAL_NAME=#{originalFileName}, CHANGE_NAME=#{changeFileName},
			FILE_PATH=#{filePath}, UPLOAD_DATE=SYSDATE
		WHERE REF_ID=#{refId}
	</update>
	
	<update id="deleteEvent" parameterType="_int">
		UPDATE EVENT
		SET E_STATUS = 'N'
		WHERE ENO=#{eNo}
	</update>
	
	<select id="searchList" parameterType="Search" resultMap="eventResultSet">
		<bind name="sv" value="'%' + _parameter.getSearchValue() + '%'"/>
		SELECT *
		FROM EVENT
		<where><!-- where : where + AND|OR로 시작 시 자동 제거 기능 --><!-- trim도 사용 가능 -->
			<choose>
				<when test="searchCondition == 'title'">
					AND ETITLE LIKE #{sv}
				</when>
				<when test="searchCondition == 'content'">
					AND ECONTENT LIKE #{sv}
				</when>
				<otherwise>
					AND (ETITLE LIKE #{sv}
						OR ECONTENT LIKE #{sv})
				</otherwise>
			</choose>
		</where>
		ORDER BY ENO DESC
	</select>
	
	<update id="pointUpdate" parameterType="Member">
		UPDATE MEMBER
		SET POINT = POINT + #{point}
		WHERE MNO=#{mNo}
	</update>
	
	<insert id="insertpHistory" parameterType="PointHistory">
		INSERT INTO PHISTORY VALUES(
			#{eNo}, #{mNo}, #{point}, SYSDATE
		)
	</insert>
	
	<select id="pHistory" parameterType="PointHistory" resultMap="historyResultSet">
		SELECT *
		FROM PHISTORY
		WHERE ENO=#{eNo}
		AND MNO=#{mNo}
	</select>
	
	<select id="searchListCount" resultType="_int">
		<bind name="sv" value="'%' + _parameter.getSearchValue() + '%'"/>
		SELECT COUNT(*)
		FROM EVENT
		<where>
		E_STATUS='Y'
			<choose>
				<when test="searchCondition == 'title'">
					AND ETITLE LIKE #{sv}
				</when>
				<when test="searchCondition == 'content'">
					AND ECONTENT LIKE #{sv}
				</when>
				<otherwise>
					AND (ETITLE LIKE #{sv}
						OR ECONTENT LIKE #{sv})
				</otherwise>
			</choose>
		</where>
	</select>
	
	<select id="selectReplyList" resultMap="replyResultSet" parameterType="_int">
		SELECT * 
		FROM REPLY R
		JOIN EVENT E ON(R.REF_ENO = E.ENO)
		WHERE REF_ENO=#{eNo}
		AND R_STATUS = 'Y'
		ORDER BY RNO DESC
	</select>
	
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO REPLY VALUES
		(REP_SEQ.NEXTVAL, #{rContent}, #{rWriter}, SYSDATE, SYSDATE, DEFAULT, 1, #{refENo},
		NULL, NULL, NULL)
	</insert>
</mapper>