<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="managementMapper">
	<resultMap type="Store" id="storeResultSet">
		<id property="mNo" column="MNO"/>
		<result property="sNo" column="SNO"/>
		<result property="sName" column="SNAME"/>
		<result property="sTel" column="STEL"/>
		<result property="sAddress" column="S_ADDRESS"/>
		<result property="deliveryKm" column="DELIVERY_KM"/>
		<result property="sInfo" column="SINFO"/>
		<result property="openTime" column="OPEN_TIME"/>
		<result property="sStatus" column="S_STATUS"/>
		<result property="sAccept" column="SACCEPT"/>
		<result property="sCategory" column="S_CATEGORY"/>
		<result property="deliveryCharge" column="DELIVERY_CHARGE"/>
		<result property="minPrice" column="MIN_PRICE"/>
	</resultMap>
	
	<resultMap type="Menu" id="menuResultSet">
		<id property="mnNo" column="MN_NO"/>
		<result property="mnName" column="MN_NAME"/>
		<result property="mnCategory" column="MN_CATEGORY"/>
		<result property="mnStatus" column="MN_STATUS"/>
		<result property="mNo" column="MNO"/>
		<result property="smallCate" column="SMALL_CATE"/>
		<result property="mnPrice" column="MN_PRICE"/>
	</resultMap>
	
	<resultMap type="OpenDB" id="openDBResultSet">
		<id property="mNo" column="MNO"/>
		<result property="sStatus" column="S_STATUS"/>
		<result property="startDate" column="SDATE"/>
		<result property="endDate" column="EDATE"/>
		<result property="today" column="TODAY"/>
	</resultMap>
	
	<resultMap type="SetMenu" id="setMenuResultSet">
		<id property="smNo" column="SMNO"/>
		<result property="smName" column="SMNAME"/>
		<result property="setList" column="SETLIST"/>
		<result property="setPrice" column="SET_PRICE"/>
		<result property="mNo" column="MNO"/>
		<result property="set_mnNo" column="SET_MNNO"/>
		<result property="setStatus" column="SET_STATUS"/>
	</resultMap>
	
	<resultMap type="Attachment" id="attachmentResultSet">
		<id property="aNo" column="ANO"/>
		<result property="originalFileName" column="ORIGINAL_NAME"/>
		<result property="changeFileName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="uploadDate" column="UPLOAD_DATE"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
		<result property="aStatus" column="A_STATUS"/>
		<result property="aType" column="A_TYPE"/>
		<result property="refId" column="REF_ID"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM OPENDB
		WHERE MNO = #{mNo}
	</select>
	
	<select id="selectList" resultMap="openDBResultSet">
		SELECT *
		FROM OPENDB
		ORDER BY TODAY DESC
	</select>
	
	<select id="selectStore" parameterType="_int" resultMap="storeResultSet">
		SELECT *
		FROM STORE
		WHERE MNO = #{mNo}
	</select>
	
	<select id="selectDB" parameterType="_int" resultMap="openDBResultSet">
		SELECT  MNO, S_STATUS,TO_CHAR(START_DATE,'YYYY/MM/DD') AS SDATE,TO_CHAR(END_DATE,'YYYY/MM/DD') AS EDATE,TODAY
		FROM OpenDB
		WHERE MNO = #{mNo}
		ORDER BY TODAY DESC
	</select>
	
	<update id="updatesStatus">
		UPDATE STORE
		SET S_STATUS = #{sStatus}
		WHERE MNO = #{mNo}
	</update>
	
	<insert id="insertDB" parameterType="OpenDB">
		INSERT INTO OPENDB
		<if test="startDate == null  and endDate == null">
			VALUES (#{mNo}, #{sStatus}, NULL, NULL, SYSDATE)
		</if>  
		<if test="startDate != null and endDate != null">
			VALUES (#{mNo},  #{sStatus},TO_DATE(#{startDate}, 'YYYY/MM/DD'), TO_DATE(#{endDate}, 'YYYY/MM/DD') , SYSDATE)
		</if>	
	</insert>
	
	<select id="selectMenu" parameterType="_int" resultMap="menuResultSet">
		SELECT *
		FROM MENU
		WHERE MNO = #{mNo}
		AND MN_STATUS != 'S'
	</select>
	
	<update id="updateLong">
		UPDATE MENU
		SET MN_STATUS = 'N'
		WHERE MN_NO = #{mnNo}
	</update>
	
	<update id="updateDay">
		UPDATE MENU
		SET MN_STATUS = 'D'
		WHERE MN_NO = #{mnNo}
	</update>
	
	<update id="updateSale">
		UPDATE MENU
		SET MN_STATUS = 'Y'
		WHERE MN_NO = #{mnNo}
	</update>
	
	<update id="upBest">
		UPDATE MENU
		SET MN_CATEGORY = '대표메뉴'
		WHERE MN_NO = #{mnNo}
	</update>
	
	<update id="delBest">
		UPDATE MENU
		SET MN_CATEGORY = NULL
		WHERE MN_NO = #{mnNo}
	</update>
	
	<select id="selectmnName" parameterType="_int" resultMap="menuResultSet">
		SELECT *
		FROM MENU
		WHERE MN_NO = #{mnNo}
	</select>
	
	<insert id="insertSetMenu" parameterType="SetMenu">
		INSERT INTO SETMENU
		VALUES (SM_SEQ.NEXTVAL,#{smName}, #{setList}, #{setPrice}, #{mNo},  #{set_mnNo}, 'Y')
	</insert>
	
	<select id="selectSetMenu" parameterType="_int" resultMap="setMenuResultSet">
		SELECT *
		FROM SETMENU
		WHERE MNO = #{mNo}
		AND SET_STATUS = 'Y'
	</select>
	
	<update id="deleteSet">
		UPDATE SETMENU
		SET SET_STATUS = 'N'
		WHERE SMNO = #{smNo}
	</update>
	
	<select id="selecMenutImg" parameterType="_int" resultMap="attachmentResultSet">
		SELECT *
		FROM  ATTACHMENT
		WHERE REF_ID = #{mNo}
	</select>

</mapper>