<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<resultMap id="memberResultSet" type="Member">
		<id property="mNo" column="MNO"/>
		<result property="mId" column="MID"/>
		<result property="mPwd" column="MPWD"/>
		<result property="mName" column="MNAME"/>		
		<result property="mEmail" column="MEMAIL"/>
		<result property="mPhone" column="MPHONE"/>
		<result property="birth" column="BIRTH"/>
		<result property="gender" column="GENDER"/>
		<result property="mEnrollDate" column="M_ENROLL_DATE"/>
		<result property="mModifyDate" column="M_MODIFY_DATE"/>
		<result property="mStatus" column="M_STATUS"/>
		<result property="mGrade" column="M_GRADE"/>
		<result property="mType" column="M_TYPE"/>
		<result property="point" column="POINT"/>
		<result property="priceSum" column="PRICE_SUM"/>
	</resultMap>	
	
	<select id="selectOne" parameterType="Member" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE MID=#{mId}
		AND M_STATUS = 'Y'
	</select>
	
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER
		VALUES (M_SEQ.NEXTVAL,#{mId}, #{mPwd}, #{mName}, #{mEmail}, #{mPhone}, #{birth}, #{gender},SYSDATE, SYSDATE,
				DEFAULT, DEFAULT, #{mType}, DEFAULT,DEFAULT)
	</insert>
	
	<insert id="insertStore" parameterType="Store">
		<selectKey keyProperty="mNo" resultType="_int" order="BEFORE">
            select M_SEQ.currval from DUAL
        </selectKey>
		INSERT INTO STORE
		VALUES ((#{mNo}),#{sName}, #{sNo}, #{sTel}, #{sAddress}, #{deliveryKm}, #{sInfo}, #{openTime},1, DEFAULT,
				#{sCategory}, #{deliveryCharge}, #{minPrice})
	</insert>	
	
	<insert id="insertAttachment" parameterType="Attachment">
		<selectKey keyProperty="refId" resultType="_int" order="BEFORE">
            select M_SEQ.currval from DUAL
        </selectKey>
		INSERT INTO ATTACHMENT
		VALUES (A_SEQ.NEXTVAL,#{originalFileName}, #{changeFileName}, #{filePath}, SYSDATE, 1, 
				'Y', #{aType},#{refId})
	</insert>
	
	<insert id="insertMenu" parameterType="Menu">
		<selectKey keyProperty="mNo" resultType="_int" order="BEFORE">
            select M_SEQ.currval from DUAL
        </selectKey>
		INSERT INTO MENU
		VALUES (MN_SEQ.NEXTVAL,#{mnName}, DEFAULT, DEFAULT, #{mNo},DEFAULT,#{mnPrice})
	</insert>
	
	<insert id="minsertAttachment" parameterType="Attachment">
		<selectKey keyProperty="refId" resultType="_int" order="BEFORE">
            SELECT MN_SEQ.CURRVAL FROM DUAL 
        </selectKey>
		INSERT INTO ATTACHMENT
		VALUES (A_SEQ.NEXTVAL,#{originalFileName}, #{changeFileName}, #{filePath}, SYSDATE, 1, 
				'Y', #{aType},#{refId})
	</insert>
	
	<update id="mupdate" parameterType="Member">
		UPDATE MEMBER
		SET MPWD=#{mPwd},MNAME=#{mName},MEMAIL=#{mEmail},MPHONE=#{mPhone},BIRTH=#{birth},GENDER=#{gender},M_MODIFY_DATE=SYSDATE
		WHERE MID=#{mId}
	</update>
	
	<update id="deleteMember" parameterType="string">
		UPDATE MEMBER
		SET M_STATUS='N'
		WHERE MID=#{mId}
	</update>
	
	<select id="checkId" parameterType="Member" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MID=#{mId}
	</select>

	<select id="findId" parameterType="Member" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE MNAME=#{mName}
		AND MEMAIL=#{mEmail}
	</select>
	
	<select id="findPwd" parameterType="Member" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE MNAME=#{mName}
		AND MEMAIL=#{mEmail}
		AND MID=#{mId}
	</select>
	
	<update id="updatePwd" parameterType="Member">
		UPDATE MEMBER
		SET MPWD=#{mPwd},M_MODIFY_DATE=SYSDATE
		WHERE MNO=#{mNo}
	</update>
	
	<select id="selectmemListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE M_STATUS='Y'
		AND M_TYPE=2
	</select>
	
	<select id="selectmemList" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE M_STATUS='Y'
		AND M_TYPE=2
		ORDER BY MNO DESC
	</select>
	
	<update id="updateStatus" parameterType="_int">
		UPDATE MEMBER
		SET M_STATUS = 'N'
		WHERE MNO=#{mNo}
	</update>
	
	<select id="selectBannedList" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE M_STATUS='N'
		AND M_TYPE=2
		ORDER BY MNO DESC
	</select>
	
	<update id="releaseMember" parameterType="_int">
		UPDATE MEMBER
		SET M_STATUS = 'Y'
		WHERE MNO=#{mNo}
	</update>
	
	<select id="selectMemberInfo" parameterType="_int" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE MNO=#{mNo}
		AND M_STATUS = 'Y'
	</select>
	
	<update id="usingOrder" parameterType="Order">
		UPDATE MEMBER
		SET POINT = POINT - #{oPoint}, PRICE_SUM = PRICE_SUM + #{oPrice} 
		WHERE MNO = #{mNo}
	</update>
</mapper>