<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderMapper">
	<resultMap type="Order" id="orderResultSet">
		<id property="oNo" column="ONO"/>
		<result property="oTime" column="OTIME"/>
		<result property="request" column="REQUEST"/>
		<result property="oPrice" column="OPRICE"/>
		<result property="oPoint" column="OPOINT"/>
		<result property="oAddress" column="OADDRESS"/>
		<result property="oStatus" column="O_STATUS"/>
		<result property="mNo" column="MNO"/>
		<result property="smNo" column="S_MNO"/>
		<result property="arrivalTime" column="ARRIVAL_TIME"/>
		<result property="oPhone" column="OPHONE"/>
		<result property="deliveryCharge" column="FEE"/>
	</resultMap>

	<resultMap id="v_orderResultSet" type="V_Order">
		<id property="oNo" column="ONO"/>
		<result property="oTime" column="OTIME"/>
		<result property="oStatus" column="O_STATUS"/>
		<result property="arrivalTime" column="ARRIVAL_TIME"/>
		<result property="sName" column="SNAME"/>
		<result property="sTel" column="STEL"/>
		<result property="request" column="REQUEST"/>
		<result property="oPoint" column="OPOINT"/>
		<result property="fee" column="FEE"/>
		<result property="pNo" column="PNO"/>
		<result property="oPrice" column="OPRICE"/>
		<result property="oPhone" column="OPHONE"/>
		<result property="oAddress" column="OADDRESS"/>
		<result property="mNo" column="MNO"/>
		<collection property="ODetail" javaType="java.util.ArrayList" resultMap="ODetailResultSet"/>
		<collection property="attachment" javaType="java.util.ArrayList" resultMap="atResultSet"/>
	</resultMap>
	
	<resultMap id="s_orderResultSet" type="S_Order">
		<id property="oNo" column="ONO"/>
		<result property="oTime" column="OTIME"/>
		<result property="request" column="REQUEST"/>
		<result property="oPrice" column="OPRICE"/>
		<result property="oAddress" column="OADDRESS"/>
		<result property="oStatus" column="O_STATUS"/>
		<result property="arrivalTime" column="ARRIVAL_TIME"/>
		<result property="mNo" column="MNO"/>
		<result property="oPhone" column="OPHONE"/>
		<result property="deliveryCharge" column="DELIVERY_CHARGE"/>
		<result property="smNo" column="S_MNO"/>
	</resultMap>
	
	<resultMap id="sod_orderResultSet" type="SODetail">
		<id property="oNo" column="ONO"/>
		<result property="odNo" column="ODNO"/>
		<result property="odNum" column="ODNUM"/>
		<result property="oPrice" column="OPRICE"/>
		<result property="mnNo" column="MN_NO"/>
		<result property="mnName" column="MN_NAME"/>
	</resultMap>
	
	<resultMap type="ODetail" id="ODetailResultSet">
		<id property="odNo" column="ODNO"/>
		<result property="odNum" column="ODNUM"/>
		<result property="oNo" column="ONO"/>
		<result property="mnNo" column="MN_NO"/>
		<result property="mnName" column="MN_NAME"/>
		<result property="price" column="MN_PRICE"/>
	</resultMap>
	
	<resultMap type="Attachment" id="atResultSet">
		<result property="aNo" column="ANO"/>
		<result property="originalFileName" column="ORIGINAL_NAME"/>
		<result property="changeFileName" column="CHANGE_NAME"/>
		<result property="refId" column="REF_ID"/>
	</resultMap>

	
	<resultMap type="PayAPI" id="paymentResultSet">
		<id property="pNo" column="PNO"/>
		<result property="price" column="PRICE"/>
		<result property="pDate" column="PDATE"/>
		<result property="pStatus" column="P_STATUS"/>
		<result property="oNo" column="ONO"/>
	</resultMap>
	
	<select id="selectodList" resultMap="sod_orderResultSet">
		SELECT SOD.ODNO, SOD.ODNUM, SOD.MN_NO, SOD.MN_NAME, SOD.ONO, SOD.OTIME, SOD.OPRICE, SOD.OADDRESS
		FROM SODETAIL SOD
		JOIN SORDER SO ON (SO.ONO = SOD.ONO) 
		WHERE SO.S_MNO = #{mNo}
	</select>
	
	<select id="selectorderList" resultMap="s_orderResultSet">
		SELECT * 
		FROM  SORDER
		WHERE S_MNO = #{mNO}
		AND O_STATUS != 'N'
		AND OTIME >= SYSDATE-1 
	</select>
	
	<update id="deleteList">
		UPDATE SORDER
		SET O_STATUS = 'S'
		WHERE O_STATUS != 'S'
	</update>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM V_ORDER
		WHERE MNO = #{mNo}
	</select>
	
	<select id="selectOList" resultMap="v_orderResultSet">
		SELECT *
		FROM V_ORDER
		WHERE MNO = #{mNo}
		ORDER BY ONO DESC
	</select>
	
	<select id="selectStoreOrder" parameterType="_int" resultMap="s_orderResultSet">
		SELECT *
		FROM S_ORDER
		WHERE ONO = #{oNo}
	</select>
	
	<select id="selectStoreDetail"  resultMap="sod_orderResultSet">
		SELECT ODNUM, MN_NAME,  OPRICE, ONO
		FROM SODETAIL 
		WHERE ONO = #{oNo}
	</select>
	
	<update id="updateTime"  parameterType="_int">
		UPDATE SORDER
		SET ARRIVAL_TIME = #{arrivalTime}, O_STATUS = '2'
		WHERE ONO = #{oNo}
	</update>
	
	<update id="updateoStatus" parameterType="_int">
		UPDATE SORDER
		SET O_STATUS = '3'
		WHERE ONO = #{oNo}
	</update>
	
	<select id="selectOne" parameterType="_int" resultMap="v_orderResultSet">
		SELECT *
		FROM V_ORDER
		WHERE ONO=#{oNo}
	</select>
	
	<update id="cancelOrder" parameterType="_int">
		UPDATE SORDER
		SET O_STATUS = 'N'
		WHERE ONO = #{oNo}
	</update>

	<insert id="insertOrder" parameterType="Order">
		INSERT INTO SORDER
		VALUES (O_SEQ.NEXTVAL, SYSDATE, #{request}, #{oPrice}, #{oPoint}, #{oAddress}, 1, #{mNo}, #{smNo},
		 	NULL, #{oPhone}, #{deliveryCharge})
	</insert>

	<insert id="insertMenu" parameterType="ODetail">
		INSERT INTO ODETAIL
		VALUES (OD_SEQ.NEXTVAL, #{odNum}, NULL, O_SEQ.CURRVAL, #{mnNo}, #{mnName}, #{price} )
	</insert>
	
	<select id="selectOrderInfo" resultMap="orderResultSet">
		SELECT * 
		FROM(SELECT * 
		    FROM SORDER
		    ORDER BY ONO DESC)
		WHERE ROWNUM = 1
	</select>
	
	<insert id="insertPayment" parameterType="PayAPI">
		INSERT INTO PAYAPI
		VALUES (PAY_SEQ.NEXTVAL, #{price}, SYSDATE, 'Y', #{oNo})
	</insert>
	
	<select id="selectPaymentInfo" resultMap="paymentResultSet">
		SELECT * 
		FROM(SELECT * 
		    FROM PAYAPI
		    ORDER BY ONO DESC)
		WHERE ROWNUM = 1
	</select>
</mapper>