<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderMapper">
	<resultMap type="Order" id="orderResultSet">
		<id property="oNo" column="ONO"/>
		<result property="oTime" column="OTIME"/>
		<result property="request" column="REQUEST"/>
		<result property="oPrice" column="OPRICE"/>
		<result property="oPoint" column="OPOINT"/>
		<result property="oAddress" column="OADDRESS"/>
		<result property="oStatus" column="O_STATUS"/>
		<result property="mNo" column="MNO"/>
		<result property="smNo" column="S_MNO"/>
		<result property="arrivalTime" column="ARRIVAL_TIME"/>
	</resultMap>

	<resultMap id="v_orderResultSet" type="V_Order">
		<id property="oNo" column="ONO"/>
		<result property="oTime" column="OTIME"/>
		<result property="oStatus" column="O_STATUS"/>
		<result property="arrivalTime" column="ARRIVAL_TIME"/>
		<result property="sName" column="SNAME"/>
		<result property="sTel" column="STEL"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="request" column="REQUEST"/>
		<result property="oPoint" column="OPOINT"/>
		<result property="fee" column="FEE"/>
		<result property="pNo" column="PNO"/>
		<result property="oPrice" column="OPRICE"/>
		<result property="oPhone" column="OPHONE"/>
		<result property="oAddress" column="OADDRESS"/>
		<result property="mNo" column="MNO"/>
		<collection property="ODetail" javaType="java.util.ArrayList" resultMap="ODetailResultSet"/>
	</resultMap>
	
	<resultMap type="ODetail" id="ODetailResultSet">
		<id property="odNo" column="ODNO"/>
		<result property="odNum" column="ODNUM"/>
		<result property="oNo" column="ONO"/>
		<result property="mnNo" column="MN_NO"/>
		<result property="mnName" column="MN_NAME"/>
		<result property="price" column="MN_PRICE"/>
	</resultMap>
	
	<select id="selectorderList" resultMap="orderResultSet">
		SELECT *
		FROM SORDER
		WHERE O_STATUS != 'N'
	</select>
	
	<update id="deleteList">
		UPDATE SORDER
		SET O_STATUS = 'N'
		WHERE O_STATUS != 'N'
	</update>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM V_ORDER
		WHERE MNO = #{mNo}
	</select>
	
	<select id="selectOList" resultMap="v_orderResultSet">
		SELECT *
		FROM V_ORDER
		WHERE MNO = #{mNo}
		ORDER BY ONO DESC
	</select>
	
	<select id="selectOne" parameterType="_int" resultMap="v_orderResultSet">
		SELECT *
		FROM V_ORDER
		WHERE ONO=#{oNo}
	</select>
	
</mapper>