<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
"-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.ssakbaedal.event.model.vo.Event" alias="Event"/>
		<typeAlias type="com.kh.ssakbaedal.common.attachment.Attachment" alias="Attachment"/>
		<typeAlias type="com.kh.ssakbaedal.search.model.vo.Search" alias="Search"/>
	</typeAliases>

	<mappers>
		<mapper resource="mappers/event-mapper.xml"/>
		<mapper resource="mappers/search-mapper.xml"/>
	</mappers>

</configuration>