<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 암호화를 위해 사용할 bcryptPasswordEncoder 객체 bean 등록 -->
	<bean id="bcryptPasswordEncoder"
	class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
	<!-- web.xml로 가서 이 설정 파일도 처음에 읽으라고 경로에 등록하기 -->
</beans>
